<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"


    package="tn.igc.projectone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".authentification.activities.Splash"  android:noHistory="true" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".authentification.activities.LoginActivity" android:noHistory="true" android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".authentification.activities.SignUpActivity" android:noHistory="true" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".filiere.FiliereActivity" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>